<div class="module" id="recent-actions-module">
                    <h2>Menu</h2>

                    <ul class="actionlist">

                        <li>
                            <a href="/">Principal</a>
                        </li>
                        
                        <li>
                            &nbsp
                        </li>

                        <li class="changelink">
                            <a href="/prova_vazia/">Criar nova prova</a>
                        </li>
                        <li class="changelink">
                            <a href="/prova_aleatoria/">Criar prova aleatória</a>
                        </li>
                        
                        <li>
                            &nbsp
                        </li>

                        <li class="addlink">
                            <a href="/admin/Provas/questao/add/"  onclick="return showAddAnotherPopup(this);">Adicionar questões</a>
{#                            <a href="/nova_questao/" onclick="return showAddAnotherPopup(this);">Adicionar questões</a>#}
                        </li>
                        
                        <li class="addlink">                             
                            <a href="/admin/Provas/disciplina/add/" onclick="return showAddAnotherPopup(this);">Adicionar disciplinas</a>
                        </li>
                        
                        <li class="addlink">
                            <a href="/admin/Provas/curso/add/" onclick="return showAddAnotherPopup(this);">Adicionar cursos</a>
                        </li>
                        
                        <li>
                            &nbsp
                        </li>

                        <li class="changelink">
                            <a href="/admin/Provas/questao/" onclick="return showAddAnotherPopup(this);">Modificar questões</a>
                        </li>
                        
                        <li class="changelink">
                            <a href="/admin/Provas/disciplina/" onclick="return showAddAnotherPopup(this);">Modificar disciplinas</a>
                        </li>
                                                
                        <li class="changelink">
                            <a href="/admin/Provas/curso/" onclick="return showAddAnotherPopup(this);">Modificar cursos</a>
                        </li>

                        <li class="changelink">
                            <a href="/provas">Visualizar provas passadas</a>
                        </li>

                    </ul>
                </div>