{% extends "base.html" %}


{% block title %} Prova modificada com sucesso {% endblock %}
{% block extrahead %}
 <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css"/>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css"/>
<link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css"/>

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>

<script type="text/javascript">
    window.__admin_static/admin_prefix__ = "/static/admin/";
</script>

<script language="JavaScript">
<!--
function refreshParent() {
  window.opener.location.href = window.opener.location.href;
  window.close();
}
//-->
</script>

{% endblock %}

{% block body %}
 <body onload="return refreshParent();">
 </body>
{% endblock %}
