{% extends "base.html" %}

{% load order_by %}


{% block title %}{{ prova  }} {% endblock %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css"/>
    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/media/css/ie.css" /><![endif]-->

    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>

    <script type="text/javascript">
        window.__admin_media_prefix__ = "/static/admin";
    </script>

    <script type="text/javascript">
        function otherDismissAddAnotherPopup(win, newId, newRepr) {
            win.close();
        }
        window.dismissAddAnotherPopup = otherDismissAddAnotherPopup;
    </script>

{% endblock %}

{% block body %}
    <body class="dashboard">

    <!-- Container -->
    <div id="container">
        {% include "header.html" %}

        <div id="content" class="colSM">
            <div id="content-main">
                <div class="module">

                    <table>
                        <caption>{{ prova }}</caption>
                        <tbody>
                        <tr>
                            <th colspan="3">Curso: {{prova.curso}}</th>
                        <tr>
                        <tr>
                            <th colspan="3">Disciplina: {{prova.disciplina}}</th>
                        <tr>
                        <tr>
                            <th colspan="3">Data de aplicação: {{ prova.data_aplicacao|date:"d/m/Y" }}</th>
                        <tr>
                         {% if prova.questoes.all %}
                            <tr>
                                <th colspan="3">
                                    <a rel="nofollow" href="/baixar_fonte/{{ prova.pk }}" >Baixar fonte latex.</a></h1>
                                </th>
                            </tr>
                            <tr>
                                <th colspan="3">
                                   <a rel="nofollow" href="/baixar_fonte_gabarito/{{ prova.pk }}" >Baixar fonte latex com gabarito.</a>
                                </th>
                            </tr>
                              <tr>
                            <th colspan="3">
                                <a href="/questoes/add/{{ prova.pk }}" class="addlink" onclick="return showAddAnotherPopup(this);">Adicionar questão</a>
                            </th>
                        </tr>
                        {% endif %}
                            {% if prova.questoes.all %}
                                <tr>
                                    <th>Enunciado</th>
                                    <th>Dificuldade</th>
                                    <th>Ações</th>
                                </tr>
                            {% else %}
                                <tr>
                                    <th scope="row">Nenhuma questão adicionada</th>
                                    <td>&nbsp;</td>
                                </tr>
                            {% endif %}
                        {% for f in prova.questoes.all|order_by:"dificuldade" %}
                            <tr>
                                <th>
                                    {{ f.enunciado|linebreaksbr }}
                                </th>
                                <td >
                                    {% if f.dificuldade == 1%}
                                        Fácil
                                    {% endif %}
                                    {% if f.dificuldade == 2%}
                                        Média
                                    {% endif %}
                                    {% if f.dificuldade == 3%}
                                        Difícil
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="/questoes/{{ prova.pk }}/{{ f.pk }}" class="changelink" onclick="return showAddAnotherPopup(this);">Trocar questão</a>
                                    <br/>
                                    <a onclick="return confirm('Tem certeza que quer apagar esta questão?');" href="/questoes/del/{{ prova.pk }}/{{ f.pk }}" class="deletelink">Remover questão</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="content-related">
                {% include "menu.html" %}
            </div>
            <br class="clear" />
        </div>
    </div>
    </body>
{% endblock %}
